<div class="auth-wrapper bg-img ">
  <div class="auth-content">

    <div class="auth-bg">
      <!-- <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>  -->
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" >
      <div class="card" style="box-shadow: 0 1px 20px 0 #333;border-radius: 5px;">
        <div class="card-body text-center">
          <div class="mb-4">
            <!-- <i class="feather icon-unlock auth-icon"></i> -->
            <img alt="" src="assets/img/logo.png" style="margin-left: 15px;max-width: 250px;">
          </div>
          <h3 class="mb-4">Forget Password</h3>
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="Email" formControlName="email" on-focusout="validateEmail()" on-focus="removeError()" required>
          </div>
          <div style="color: red;text-align: left;font-size: 12px; margin-top: 5pt;">
            <span *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched ">Email is
              Required</span>
            <span *ngIf="showError">Email in Correct Pattern</span>
          </div>
          <button class="btn btn-primary mb-4" style="margin-top: 15px" [disabled]="loginForm.invalid">Submit</button>

          <div style="text-align: left;font-size: 12px;">
            <span >Enter email forget password link will be sent on your register email.</span>
            
          </div>

        </div>
      </div>
    </form>
  </div>
</div>

