<ul class="navbar-nav">
  
<li>
    <div class="dropdown drp-user" ngbDropdown style="content: none !important;">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown" >
        <!-- <i class="icon feather icon-settings"></i> -->
         <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image" style="max-height: 50px"> 
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head" style="padding: 8px !important;">
           <!-- <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">  -->
          <span>{{userData}} </span>
         
         
        </div>
        <ul class="pro-body" style="padding: 10px 0;">
          <li (click)="logout()"><a href="javascript:" class="dropdown-item"><i class="feather icon-log-out"></i> Logout</a></li>
         
        </ul>
      </div>
    </div>
  </li> 
</ul> 
<!-- <section class="header-user-list" *ngIf="visibleUserList" [ngClass]="{'open': visibleUserList}" [@slideInOut]>
  <app-chat-user-list (onChatToggle)="onChatToggle($event)" (onChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false;"></app-chat-user-list>
</section>

<section class="header-chat" *ngIf="chatMessage" [ngClass]="{'open': chatMessage}" [@slideInOut]>
  <app-chat-msg (onChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId"></app-chat-msg>
</section> -->