<form [formGroup]="addForm" *ngIf="showCandidate">
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Personal Details" [options]="false">
        <div class="row">
          <div class="col-md-4">

            <div class="form-group">
              <label for="exampleInputEmail1">First Name *</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name"
                (input)="changeFirstLetterCapital('firstName')" formControlName="firstName">

              <div>
                <span *ngIf="addForm.get('firstName').invalid && addForm.get('firstName').touched"
                  style="color: red;text-align: left;font-size: 12px">First Name is Required</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name *</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName"
                (input)="changeFirstLetterCapital('lastName')">
              <!-- <div>
                <span *ngIf="addForm.get('lastName').invalid && addForm.get('lastName').touched"
                  style="color: red;text-align: left;font-size: 12px">Last Name is Required</span>
              </div> -->
            </div>

          </div>

          <div class="col-md-4">

            <div class="form-group">
              <label for="exampleInputEmail1">Father's Name *</label>
              <input type="text" class="form-control" id="fatherName" placeholder="Father's Name"
                (input)="changeFirstLetterCapital('fatherName')" formControlName="fatherName">
              <div>
                <span *ngIf="addForm.get('fatherName').invalid && addForm.get('fatherName').touched"
                  style="color: red;text-align: left;font-size: 12px">Father Name is Required</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="form-group">
              <label for="exampleInputEmail1">Email *</label>
              <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
              <div>
                <span *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched"
                  style="color: red;text-align: left;font-size: 12px">Email is Required</span>
                <span *ngIf="addForm.get('email').hasError('pattern') && addForm.get('email').touched"
                  style="color: red;text-align: left;font-size: 12px">Invalid Email Formate abc@xyz.com</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="form-group">
              <label for="exampleInputEmail1">Primary Mobile Number *</label>
              <input type="text" class="form-control" id="pMobile" placeholder="Primary Mobile Number"
                formControlName="pMobile" (keypress)="onKeyPress($event)" maxlength="10" minlength="10"
                (focus)="notFocusedPMobile=false" (focusout)="notFocusedPMobile=true">
              <div>
                <span *ngIf="addForm.get('pMobile').hasError('required') && addForm.get('pMobile').touched"
                  style="color: red;text-align: left;font-size: 12px">Primary Mobile Number is Required</span>
                <span
                  *ngIf="((addForm.get('pMobile').hasError('minlength') ||addForm.get('pMobile').hasError('maxlength') )&& notFocusedPMobile) && !addForm.get('pMobile').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Mobile number must be 10 digits</span>
                <span *ngIf="addForm.get('pMobile').hasError('pattern') && addForm.get('pMobile').touched"
                  style="color: red;text-align: left;font-size: 12px">Invalid Mobile Number</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="form-group">
              <label for="exampleInputEmail1">Secondary Mobile Number</label>
              <input type="text" class="form-control" id="sMobile" placeholder="Secondry Mobile Number"
                formControlName="sMobile" (keypress)="onKeyPress($event)" (focus)="notFocused=false"
                (focusout)="notFocused=true" maxlength="10" minlength="10">
              <div>
                <span
                  *ngIf=" (notFocused && (addForm.get('sMobile').hasError('minlength') ||addForm.get('sMobile').hasError('maxlength')))&& !addForm.get('sMobile').hasError('pattern') "
                  style="color: red;text-align: left;font-size: 12px">Mobile number must be 10 digits</span>
                <span *ngIf="addForm.get('sMobile').hasError('pattern') "
                  style="color: red;text-align: left;font-size: 12px">Invalid Number</span>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Aadhar Number </label>
              <input type="text" class="form-control" id="pMobile" placeholder="Aadhar Number" formControlName="aadhar"
                maxlength="12" minlength="12" (focus)="notFocusedPMobile=false" (focusout)="notFocusedPMobile=true">
              <div>
                <!-- <span *ngIf="addForm.get('aadhar').hasError('required') && addForm.get('aadhar').touched"
                      style="color: red;text-align: left;font-size: 12px">Aadhar Number is Required</span> -->
                <span
                  *ngIf="((addForm.get('aadhar').hasError('minlength') ||addForm.get('aadhar').hasError('maxlength') )&& notFocusedPMobile) && !addForm.get('aadhar').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Aadhar number must be 12 digits</span>
              </div>
            </div>

          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Gender *</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="gender"
                placeholder="Select gender">
                <option value="" disabled selected hidden>Select a value</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <div>

                <span *ngIf="addForm.get('gender').invalid && addForm.get('gender').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select gender</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Source of Reference</label>
              <input type="text" class="form-control" id="reference" placeholder="Source of Reference"
                formControlName="reference">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">

              <label for="exampleInputEmail1">Profile *</label>
              <input type="text" class="form-control" id="profile" placeholder="Profile" formControlName="profile">
              <div>
                <span *ngIf="addForm.get('profile').invalid && addForm.get('profile').touched"
                  style="color: red;text-align: left;font-size: 12px">Profile is Required</span>
              </div>
            </div>
          </div>

        </div>


        <div class="row">

          <div class="col-md-6">

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="blacklist" formControlName="blacklist"
                (click)="showHideBlacklist()">
              <label class="form-check-label" for="exampleCheck1">Black listed</label>
            </div>
          </div>
        </div>






        <div class="row" *ngIf="showBlacklistReason">
          <div class="col-md-8">
            <div class="form-group">
              <label for="exampleInputEmail1">Reason for Blacklisted *</label>
              <textarea class="form-control" id="blackListReason" rows="3" formControlName="blackListReason"
                [attr.disabled]="disabledTextField[i]===true? 'disabled':null"></textarea>
              <div>
                <span *ngIf="addForm.get('blackListReason').invalid && addForm.get('blackListReason').touched"
                  style="color: red;text-align: left;font-size: 12px">Feedback is Required</span>
              </div>
            </div>
          </div>



        </div>
      </app-card>



      <app-card cardTitle="Experience Details" [options]="false">
        <div class="row">

          <div class="col-xl-12 col-md-12">
            <span class="table-add float-right mb-3 mr-2">
              <a class="text-success">
                <i class="fa fa-plus" *ngIf="!invalidExperience" aria-hidden="true" (click)="addExperience()"
                  disabled></i>
                <i class="fa fa-plus" *ngIf="invalidExperience" style="color: gray" aria-hidden="true"></i>
              </a>
            </span>
            <div class="table-responsive" style="overflow-x:inherit !important; ">
              <div class="tableFixHead">
                <table class="table table-hover" style="background-color: #fff">
                  <thead>
                    <tr>
                      <th>Organization </th>
                      <th>From</th>
                      <th>To</th>
                      <th>Duration</th>
                      <th>Tech Stack</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="experience">
                    <!-- <tr *ngFor="let d of candidates | filterInterview:searchText"  (click)="openCandidate(d.candidateDto.id)"> -->
                    <tr *ngFor="let group of experienceArray.controls; let i = index;" [formGroupName]="i">
                      <td>
                        <input type="text" class="form-control" formControlName="organization"
                          (input)="validateExperience(i)">
                        <div>
                          <span
                            *ngIf="addForm.get('experience')['controls'][i].controls.organization.invalid && addForm.get('experience')['controls'][i].controls.organization.touched"
                            style="color: red;text-align: left;font-size: 12px">This field required</span>
                        </div>
                      </td>
                      <td>
                        <p-calendar class="form-group" formControlName="from" (onSelect)="duration(i,'from')"
                          [maxDate]="this.addForm.get('experience')['controls'][i].controls.to.value"></p-calendar>

                        <div>
                          <span
                            *ngIf="addForm.get('experience')['controls'][i].controls.from.invalid && addForm.get('experience')['controls'][i].controls.from.touched"
                            style="color: red;text-align: left;font-size: 12px">This field required</span>
                        </div>
                      </td>
                      <td>
                        <!-- <input type="date" class="form-control" formControlName="to"> -->
                        <p-calendar class="form-group" formControlName="to" (onSelect)="duration(i,'to')"
                          [minDate]="this.addForm.get('experience')['controls'][i].controls.from.value"></p-calendar>


                        <div>
                          <span
                            *ngIf="addForm.get('experience')['controls'][i].controls.to.invalid && addForm.get('experience')['controls'][i].controls.to.touched"
                            style="color: red;text-align: left;font-size: 12px">This field required</span>
                        </div>
                      </td>
                      <td>

                        <input type="text" class="form-control" style="max-width: 100%" formControlName="duration"
                          [readonly]="true">
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="techStack"
                          (input)="validateExperience(i)">
                        <div>
                          <span
                            *ngIf="addForm.get('experience')['controls'][i].controls.techStack.invalid && addForm.get('experience')['controls'][i].controls.techStack.touched"
                            style="color: red;text-align: left;font-size: 12px">This field required</span>
                        </div>
                      </td>
                      <td>
                        <i class="fa fa-times" aria-hidden="true" style="color: red; margin-left: 20%"
                          (click)="removeExperienceArray(i,addForm.get('experience')['controls'][i].controls.id.value)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>


        </div>
      </app-card>







      <app-card cardTitle="Education Details" [options]="false">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Qualification *</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="education"
                (change)="changeActionEducation($event.target.value)">
                <option value="postgraduate">Postgraduate</option>
                <option value="graduate">Graduate</option>
              </select>
              <div>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>
        </div>




        <div class="row" *ngIf="showPG">
          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Post-Graduation College Name *</label>
              <input type="text" class="form-control" id="pCollege" placeholder="Post-Graduation College"
                formControlName="pCollege">
              <div>
                <span *ngIf="addForm.get('pCollege').invalid && addForm.get('pCollege').touched"
                  style="color: red;text-align: left;font-size: 12px">College Name is Required</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Marks *</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Marks"
                formControlName="pCollegeMarks">
              <div>
                <span *ngIf="addForm.get('pCollegeMarks').hasError('required') && addForm.get('pCollegeMarks').touched"
                  style="color: red;text-align: left;font-size: 12px">College Marks is Required</span>
                <span *ngIf="addForm.get('pCollegeMarks').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Invalid Pattern</span>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Marks type</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="pCollegeMarksType"
                (change)="changeMarksValidation($event.target.value,'pCollegeMarks')">
                <option value="" disabled selected hidden>Select a value</option>
                <option value="CGPA">CGPA</option>
                <option value="Percentage">%</option>
              </select>
              <div>

                <span *ngIf="addForm.get('pCollegeMarksType').invalid && addForm.get('pCollegeMarksType').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select marks type</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Comment"
                formControlName="pCollegeComment">

            </div>
          </div>

        </div>


        <div class="row">
          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Graduation College Name *</label>
              <input type="text" class="form-control" id="college" placeholder="Graduation College"
                formControlName="college">
              <div>
                <span *ngIf="addForm.get('college').invalid && addForm.get('college').touched"
                  style="color: red;text-align: left;font-size: 12px">College Name is Required</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Marks *</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Marks"
                formControlName="collegeMarks">
              <div>
                <span *ngIf="addForm.get('collegeMarks').hasError('required') && addForm.get('collegeMarks').touched"
                  style="color: red;text-align: left;font-size: 12px">College Marks is Required</span>
                <span *ngIf="addForm.get('collegeMarks').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Invalid Pattern</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Marks type</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="collegeMarksType"
                (change)="changeMarksValidation($event.target.value,'collegeMarks')">
                <option value="" disabled selected hidden>Select a value</option>
                <option value="CGPA">CGPA</option>
                <option value="Percentage">%</option>
              </select>
              <div>

                <span *ngIf="addForm.get('collegeMarksType').invalid && addForm.get('collegeMarksType').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select marks type</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Comment"
                formControlName="collegeComment">

            </div>
          </div>


        </div>




        <div class="row">

          <div class="col-md-6">

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="blacklist" formControlName="diploma"
                (click)="showHideDiploma()">
              <label class="form-check-label" for="exampleCheck1">Diploma</label>
            </div>
          </div>
        </div>



        <div class="row" *ngIf="showDiploma">
          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Diploma *</label>
              <input type="text" class="form-control" id="dSchool" placeholder="Diploma" formControlName="dSchool">
              <div>
                <span *ngIf="addForm.get('dSchool').invalid && addForm.get('dSchool').touched"
                  style="color: red;text-align: left;font-size: 12px">Diploma college Name is Required</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Diploma Marks *</label>
              <input type="text" class="form-control" id="dMarks" placeholder="Diploma Marks" formControlName="dMarks">
              <div>
                <span *ngIf="addForm.get('dMarks').hasError('required') && addForm.get('dMarks').touched"
                  style="color: red;text-align: left;font-size: 12px">Marks is Required</span>
                <span *ngIf="addForm.get('dMarks').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Invalid Pattern</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Marks type</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="dMarksType"
                (change)="changeMarksValidation($event.target.value,'dMarks')">
                <option value="null" disabled selected hidden>Select a value</option>
                <option value="CGPA">CGPA</option>
                <option value="Percentage">%</option>
              </select>
              <div>

                <span *ngIf="addForm.get('dMarksType').invalid && addForm.get('dMarksType').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select marks type</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Comment"
                formControlName="dComment">

            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Inter School *</label>
              <input type="text" class="form-control" id="iSchool" placeholder="Inter School" formControlName="iSchool">
              <div>
                <span *ngIf="addForm.get('iSchool').invalid && addForm.get('iSchool').touched"
                  style="color: red;text-align: left;font-size: 12px">Inter School Name is Required</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Inter School Marks *</label>
              <input type="text" class="form-control" id="iMarks" placeholder="Inter School Marks"
                formControlName="iMarks">
              <div>
                <span *ngIf="addForm.get('iMarks').hasError('required') && addForm.get('iMarks').touched"
                  style="color: red;text-align: left;font-size: 12px">Inter School Marks is Required</span>
                <span *ngIf="addForm.get('iMarks').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Invalid Pattern</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Marks type</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="iMarksType"
                (change)="changeMarksValidation($event.target.value,'iMarks')">
                <option value="null" disabled selected hidden>Select a value</option>
                <option value="CGPA">CGPA</option>
                <option value="Percentage">%</option>
              </select>
              <div>

                <span *ngIf="addForm.get('iMarksType').invalid && addForm.get('iMarksType').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select marks type</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Comment"
                formControlName="iComment">

            </div>
          </div>



        </div>

        <div class="row">
          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">High School *</label>
              <input type="text" class="form-control" id="hSchool" placeholder="High School" formControlName="hSchool">
              <div>
                <span *ngIf="addForm.get('hSchool').invalid && addForm.get('hSchool').touched"
                  style="color: red;text-align: left;font-size: 12px">High School Name is Required</span>
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">High School Marks *</label>
              <input type="text" class="form-control" id="hMarks" placeholder="High School Marks"
                formControlName="hMarks">
              <div>
                <span *ngIf="addForm.get('hMarks').hasError('required') && addForm.get('hMarks').touched"
                  style="color: red;text-align: left;font-size: 12px">High School Marks is Required</span>
                <span *ngIf="addForm.get('hMarks').hasError('pattern')"
                  style="color: red;text-align: left;font-size: 12px">Invalid Pattern</span>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Marks type</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="hMarksType"
                (change)="changeMarksValidation($event.target.value,'hMarks')">
                <option value="" disabled selected hidden>Select a value</option>
                <option value="CGPA">CGPA</option>
                <option value="Percentage">%</option>
              </select>
              <div>

                <span *ngIf="addForm.get('hMarksType').invalid && addForm.get('hMarksType').touched"
                  style="color: red;text-align: left;font-size: 12px">Please select marks type</span>
                <!-- <span
              *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
              style="color: red;text-align: left;font-size: 12px">Select at least one Result</span> -->
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="form-group">
              <label for="exampleInputEmail1">Comment</label>
              <input type="text" class="form-control" id="collegeMarks" placeholder="Comment"
                formControlName="hComment">

            </div>
          </div>
        </div>

      </app-card>

      <app-card cardTitle="Interview Details" [options]="false" formArrayName="interview">
        <!-- <div *ngFor="let i of [1,2,3,4]" > -->

        <div *ngFor="let group of interviewArray.controls; let i = index;" [formGroupName]="i">
          <hr />

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Status *</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="result"
                  (change)="changeActionEvent($event.target.value,i)"
                  [attr.disabled]="disabledTextField[i]===true? 'disabled':null">
                  <option value="" disabled selected hidden>Select a value</option>
                  <option *ngFor="let data of statusDropdownData" value="{{data}}">{{data}}</option>
                </select>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.result.invalid && addForm.get('interview')['controls'][i].controls.result.touched"
                    style="color: red;text-align: left;font-size: 12px">Select at least one Status</span>
                </div>
              </div>
            </div>





            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Mode of Interview *</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="interviewMode"
                  [attr.disabled]="disabledTextField[i]===true? 'disabled':null">
                  <option value="" disabled selected hidden>Select a value</option>
                  <option *ngFor="let data of interviewModeData" value="{{data}}">{{data}}</option>
                </select>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.interviewMode.invalid && addForm.get('interview')['controls'][i].controls.interviewMode.touched"
                    style="color: red;text-align: left;font-size: 12px">Select at least one Result</span>
                </div>
              </div>
            </div>






            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Interview Type *</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="interviewType"
                  [attr.disabled]="disabledTextField[i]===true? 'disabled':null"
                  (change)="changeInterviewType($event.target.value,i)">
                  <option value="" disabled selected hidden>Select a value</option>
                  <option *ngFor="let data of interviewTypeData" value="{{data}}">{{data}}</option>
                </select>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.interviewType.invalid && addForm.get('interview')['controls'][i].controls.interviewType.touched"
                    style="color: red;text-align: left;font-size: 12px">Select at least one Result</span>
                </div>
              </div>
            </div>



          </div>
          <div class="row">


            <div class="col-md-4" *ngIf="showRoundDate[i]">
              <div class="form-group">
                <label for="exampleInputEmail1">Interview Date *</label>
                <p-calendar [showIcon]="true" [showTime]="false" class="ui-calendar" formControlName="interviewDate"
                  hideOnDateTimeSelect="true" [disabledDays]="[0,6]" [disabledDates]="holidays"
                  [disabled]="disabledTextField[i]"
                  [maxDate]="addForm.get('interview')['controls'][i].controls.nextRoundDate.value != null?addForm.get('interview')['controls'][i].controls.nextRoundDate.value:
                  addForm.get('interview')['controls'][i].controls.joining.value!= null?addForm.get('interview')['controls'][i].controls.joining.value:null">
                </p-calendar>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.interviewDate.invalid && addForm.get('interview')['controls'][i].controls.interviewDate.touched"
                    style="color: red;text-align: left;font-size: 12px">Interview Date is Required</span>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngIf="showScheduledDate[i]">
              <div class="form-group">
                <label for="exampleInputEmail1">Scheduled Date * </label>
                <p-calendar [showIcon]="true" class="ui-calendar" [showTime]="true" hourFormat="24"
                  [disabledDays]="[0,6]" formControlName="scheduledDate" hideOnDateTimeSelect="true"
                  [disabled]="disabledTextField[i]">
                </p-calendar>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.scheduledDate.invalid && addForm.get('interview')['controls'][i].controls.scheduledDate.touched"
                    style="color: red;text-align: left;font-size: 12px">Scheduled Date is Required</span>
                </div>
              </div>
            </div>

            <div class="col-md-4" *ngIf="showInterviwer[i]">

              <div class="form-group">
                <label for="exampleInputEmail1">Interviewer Name *</label>
                <input type="text" class="form-control" id="interviewer" placeholder="Interviewer"
                  formControlName="interviewer" [attr.disabled]="disabledTextField[i]===true? 'disabled':null">
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.interviewer.invalid && addForm.get('interview')['controls'][i].controls.interviewer.touched"
                    style="color: red;text-align: left;font-size: 12px">Interviewer Name is Required</span>
                </div>
              </div>
            </div>
            <div class="col-md-4" *ngIf="showNextRoundDate[i]">
              <div class="form-group">
                <label for="exampleInputEmail1">Next Round Date *</label>
                <p-calendar [showIcon]="true" [showTime]="true" hourFormat="24" class="ui-calendar"
                  hideOnDateTimeSelect="true" [disabledDays]="[0,6]" formControlName="nextRoundDate"
                  [disabled]="disabledTextField[i]"
                  [minDate]="addForm.get('interview')['controls'][i].controls.interviewDate.value">
                </p-calendar>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.nextRoundDate.invalid && addForm.get('interview')['controls'][i].controls.nextRoundDate.touched"
                    style="color: red;text-align: left;font-size: 12px">Next Round is Required</span>
                </div>
              </div>

            </div>

            <div class="col-md-4" *ngIf="showJoinDate[i]">
              <div class="form-group">
                <label for="exampleInputEmail1">Joining Date *</label>
                <p-calendar [showIcon]="true" [showTime]="false" class="ui-calendar" formControlName="joining"
                  hideOnDateTimeSelect="true" [disabled]="disabledTextField[i]" [disabledDays]="[0,6]"
                  [minDate]="addForm.get('interview')['controls'][i].controls.interviewDate.value">
                </p-calendar>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.joining.invalid && addForm.get('interview')['controls'][i].controls.joining.touched"
                    style="color: red;text-align: left;font-size: 12px">Joining Date is Required</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="allowForcefully" formControlName="allowForcefully">
                <label class="form-check-label" for="exampleCheck1">Forcefully allow before 3 months</label>
              </div>
            </div>
          </div>


          <div class="row" *ngIf="!showScheduledDate[i]">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Feedback *</label>
                <textarea class="form-control" id="feedback" rows="3" formControlName="feedback"
                  [attr.disabled]="disabledTextField[i]===true? 'disabled':null"></textarea>
                <div>
                  <span
                    *ngIf="addForm.get('interview')['controls'][i].controls.feedback.invalid && addForm.get('interview')['controls'][i].controls.feedback.touched"
                    style="color: red;text-align: left;font-size: 12px">Feedback is Required</span>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="row" style="float: right" *ngIf="i===(interviewArray.controls.length-1) ">

            <button type="button" class="btn btn-success" *ngIf="showInterviewSave"
              (click)="saveInterview(addForm.get('interview')['controls'][i].controls.interviewId.value,i)"
              [disabled]="addForm.invalid">Save</button>

            <button type="button" class="btn btn-success" *ngIf="!showInterviewSave" (click)="addInterview()"
              [disabled]="addForm.invalid">Add
              More</button>

            <button type="button" class="btn btn-primary" [disabled]="i===0"
              (click)="removeInterview(i,addForm.get('interview')['controls'][i].controls.interviewId.value)">Remove</button>

            <button type="button" class="btn btn-primary" *ngIf="showEditButton"
              (click)="editCandidate(addForm.get('interview')['controls'][i].controls.interviewId.value,i)">Edit</button>


          </div>

        </div>
        <br />
      </app-card>

      <app-card cardTitle="Joining Status" *ngIf="showJoin" [options]="false">
        <div class="row">
          <div class="col-md-6">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" value="true" class="custom-control-input"
                (click)="radioClickJoined()" formControlName="joined">
              <label class="custom-control-label" for="customRadioInline1">Joined</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" value="false" class="custom-control-input"
                (click)="radioClickNotJoined()" formControlName="joined">
              <label class="custom-control-label" for="customRadioInline2">Not Joined</label>
            </div>
            <i class="fa fa-eraser" aria-hidden="true" (click)="clearRadioButtonData()"></i>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="showReasonForJoin">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Reason for not Joined *</label>
              <textarea class="form-control" id="feedback" rows="3" formControlName="reasonForNotJoining"></textarea>
              <div>
                <!-- <span
                *ngIf="addForm.get('interview')['controls'][i].controls.feedback.invalid && addForm.get('interview')['controls'][i].controls.feedback.touched"
                style="color: red;text-align: left;font-size: 12px">Feedback is Required</span> -->
              </div>
            </div>
          </div>
        </div>


      </app-card>
    </div>

  </div>
  <button type="button" class="btn btn-success" (click)="addCandidate()" [disabled]="addForm.invalid">Submit</button>

</form>

<app-edit-interview-modal *ngIf="showEditModal" [editModalData]="editModalData"
  (closeModalEvent)="hideEditModal($event)"></app-edit-interview-modal>